Package: cpio-win32
Source: cpio
Version: 2.12+dfsg-6
Architecture: all
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 18
Suggests: wine
Section: utils
Priority: optional
Homepage: http://www.gnu.org/software/cpio/
Description: GNU cpio -- a program to manage archives of files (win32 build)
 GNU cpio is a tool for creating and extracting archives, or copying
 files from one place to another.  It handles a number of cpio formats
 as well as reading and writing tar files.
 .
 This is a win32 version of cpio.  It's meant to be used by the win32-loader
 component of Debian-Installer.
